<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>flaskの動作確認</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/talk.css') }}" />
    <!-- websocketを利用するための読み込み -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/websocket.js') }}"></script>
</head>

<body>
    <h1>Flask-SocketIO Test</h1>
    <h2>送信:</h2>
    
        <input type="text" name="emit_data" id="emit_data" placeholder="Message">
        <input type="button" onclick="my_event();" value="エコー"><br>

        <input type="text" name="broadcast_data" id="broadcast_data" placeholder="Message">
        <input type="button" onclick="my_broadcast_event();" value="ブロードキャスト">
    
    <h2>受信:</h2>
    <div id="log"></div>
</body>

</html>