<script>
    const xhr = new XMLHttpRequest();
    var v1;
    var v2;

    // 自動的に呼ばれる関数
    xhr.onreadystatechange = function () {
        // readyStateは、呼び出しの状態を表す
        //    1：open()が完了
        //    2：send()が完了、ヘッダー情報取得
        //    3：リクエストロード中有
        //    4：リクエストが完了読み込み済
        // statusは、httpステータスで200が正常値。
        if (xhr.readyState == 4 && xhr.status == 200) {
            // 戻り値をdivに出力
            document.getElementById("output").innerHTML = xhr.responseText;
        }
    }
    //非同期呼び出しの共通処理
    function callurl() {
        // LambdaのAPIゲートウェイのURL
        xhr.open("GET", '/api02?v1=' + v1 + '&v2=' + v2);
        xhr.send();
    }
    //テキスト１のキー入力がされたとき
    function changedv1() {
        value = document.getElementById("v1").value;
        if (value == "") {
            v1 = 0;
        } else {
            v1 = value;
        }
        callurl();
    }
    //テキスト２のキー入力がされたとき
    function changedv2() {
        value = document.getElementById("v2").value;
        if (value == "") {
            value = 0;
        } else {
            v2 = value;
        }
        callurl();
    }
</script>

<body>

    <p>値を入力してください</p>
    <input type="text" id="v1" value="" onkeyup="changedv1()">
    <input type="text" id="v2" value="" onkeyup="changedv2()">
    <div id="output"></div>

</body>