<!-- 今回はJQueryを用いてAjax通信を実現するため、GoogleのCDN経由でJQueryを読み込む -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<body>
    <p>値を入力してください</p>
    <input type="text" id="v1" value="">
    <input type="text" id="v2" value="">
    <div id="output"></div>
    <script>
        $(function () {
            //キーが上がったらリクエスト発動
            $('#v1').keyup(function () {
                $.ajax({
                    url: '/api02',
                    type: 'GET',
                    data: {
                        'v1': $('#v1').val(),
                        'v2': $('#v2').val()
                    }
                }).done((data) => {
                    $('#output').text(data);
                });
            });
            $('#v2').keyup(function () {
                $.ajax({
                    url: '/api02',
                    type: 'GET',
                    data: {
                        'v1': $('#v1').val(),
                        'v2': $('#v2').val()
                    }
                }).done((data) => {
                    $('#output').text(data);
                });
            });
        });
    </script>
</body>
