<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>flaskの動作確認</title>
</head>

<body>
    <form action="/commit" method="post">
        <label>データの追加</label><br>
        名前：<input type="text" name="name"><br>
        住所：<input type="text" name="address"><br>
        <input type="submit" name="add" value="データの追加">
    </form>
    <div>
    <table width="20%"> 
        <caption>
            データベースに登録されている情報一覧
        </caption>
        <thead>
            <tr>
                <th scope="col">名前</th>
                <th scope="col">住所</th>
            </tr>
        <tbody>
            {% for data in datas %}
            <tr>
                <td>{{data[0]}}</td>
                <td>{{data[1]}}</td>
            </tr>
            {% endfor %}
        </tbody>
        </thead>
    </table>
</div>
</body>
</html>